.robot-container {
  width: 3000px;
  height: 1000px;
  display: flex;
  background-color: pink;
}

.robot-face-shape {
  width: 500px;
  height: 500px;
  background: silver;
  border: 10px solid grey;
  border-radius: 20px;
  position: fixed;
  top: 300px;
  left: 500px;
}

.robot-eye-left {
  position: absolute;
  top: 50px;
  left: 80px;
  height: 150px;
  background: black;
  --c: white;
  aspect-ratio: 1;
  box-shadow: 0 0 0 35px inset var(--c);
  border-image: conic-gradient(var(--c) 0 0) 50% / calc(50% - 15px);
  clip-path: circle(); /* remove this if you don't want a rounded shape */
  rotate: 45deg;
}

.robot-eye-right {
  position: absolute;
  top: 50px;
  right: 80px;
  height: 150px;
  background: black;
  --c: white;
  aspect-ratio: 1;
  box-shadow: 0 0 0 35px inset var(--c);
  border-image: conic-gradient(var(--c) 0 0) 50% / calc(50% - 15px);
  clip-path: circle(); /* remove this if you don't want a rounded shape */
  rotate: 45deg;
}

.robot-ear-left {
  position: absolute;
  top: 300px;
  left: 0;
  width: 200px;
  height: 150px;
  background: silver;
  border-radius: 50%;
  box-shadow: inset 10px -10px 0 rgba(0, 0, 0, 0.2);
}

.robot-ear-right {
  position: fixed;
  top: 300px;
  left: 100px;
  width: 200px;
  height: 150px;
  background: silver;
  border-radius: 50%;
  box-shadow: inset 10px -10px 0 rgba(0, 0, 0, 0.2);
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
